{% extends 'base.html.twig' %}

{% block title %}Détail -
	{{ product.name }}
{% endblock %}

{% block body %}
	<h1>{{ product.name }}</h1>
	<img src="{{ asset('uploads/images/' ~ product.image) }}" alt="{{ product.name }}" class="img-fluid mb-4">
	<p>{{ product.description }}</p>
	<p>
		Stock disponible :
		{{ product.stock }}
		unités</p>
	{% if is_granted('ROLE_USER') %}
		<p class="card-text">
			<strong>{{ product.price|number_format(2, ',', ' ') }}
				€</strong>
		</p>
	{% else %}
		<p class="text-danger">Vous devez être connecté pour voir les prix.</p>
	{% endif %}

	{% if app.user %}
		<a href="{{ path('app_order_product', { id: product.id }) }}" class="btn btn-success">Commander</a>
	{% else %}
		<a href="{{ path('app_login') }}" class="btn btn-primary">Connectez-vous pour commander</a>
	{% endif %}
{% endblock %}
