{% extends 'base.html.twig' %}

{% block title %}Détails de la commande #{{ order.id }}
{% endblock %}

{% block body %}
	<h1>Détails de la commande #{{ order.id }}</h1>

	<section>
		<p>
			<strong>Client :</strong>
			{{ order.user.email }}</p>
		<p>
			<strong>Date :</strong>
			{{ order.createdAt|date('d/m/Y H:i') }}</p>
		<p>
			<strong>Total :</strong>
			{{ order.totalAmount }}
			€</p>
		<p>
			<strong>Status :</strong>
			{{ order.status }}</p>
	</section>

	<h2>Articles</h2>
	<table>
		<thead>
			<tr>
				<th>Produit</th>
				<th>Quantité</th>
				<th>Prix Unitaire</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			{% for item in order.orderItems %}
				<tr>
					<td>{{ item.productName }}</td>
					<td>{{ item.quantity }}</td>
					<td>{{ item.unitPrice }}
						€</td>
					<td>{{ item.totalPrice }}
						€</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
